# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = peliscraper.settings

[deploy]
#url = http://localhost:6800/
#project = peliscraper
project = 19903 
username = 922b6631a2db460e81896e9ed7e72a95
